:root {
    /*Corpo*/
    --font-family-body: Arial, Helvetica, sans-serif;
    --max-width-body: 940px;
    --width-body: 80%;
    --margin-left-body: auto;
    --margin-right-body: auto;
    --font-size-body: 16px;
    --line-height-body: 1.5;

    /*Título*/
    --padding-titulo: 10px;
    --bg-titulo-color: #E1EDF2;
    --cinza-escuro-titulo: #3D3D3D;
    --font-size-titulo: 32px;

    /*Subtítulos*/
    --color-subtitulo: green;
    --border-color-subtitulo: black;
    --border-bottom-style-subtitulo: solid;

    /*História*/
    --color-historia: blue;

    /*Figure*/
    --max-width-figure: 100%;
    --text-align-figure: center;
    --background-color-figure: whitesmoke;
    --color-figure: lightgrey;
    --padding-figure: 15px;
    --margin-figure: 30px;

    /*Figure img*/
    --width-figure-img: 100%;
    --height-figure-img: 100%;

}